@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 4rem 7%;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
}

.heading h2 {
    font-size: 4rem;
    font-weight: 500;
    color: rgb(14, 14, 71);
}

.heading p {
    font-size: 1.4rem;
    color: rgb(31, 31, 125);
}

header .navbar a.active {
    color: #f6cd5b;
}

header {
    padding: 1.3rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 99;
}

#menuIcon {
    font-size: 2rem;
    color: rgb(14, 14, 71);
    display: none;
}

header .logo {
    width: 12%;
}

header .logo img {
    width: 100%;
}

header .navbar a {
    font-size: 1.6rem;
    padding: 0 10px;
    color: rgb(14, 14, 71);
    font-weight: 400;
    transition: all .2s ease;
}

header .navbar a:hover {
    color: #FDC93B;
}

header .navbar .btn {
    padding: 5px 15px;
    border: 1px solid rgb(31, 31, 125);
    color: rgb(14, 14, 71);
    border-radius: 5px;
    transition: all .2s ease;
    cursor: pointer;
}

header .navbar .btn:hover {
    background: rgb(14, 14, 71);
    color: white;
}

.hero {
    width: 100vw;
    height: 85vh;
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.5)), url(assets/back.jpg);
    background-position: center;
    background-size: cover;
}

.hero .hero-heading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

.hero .hero-heading h2 {
    font-size: 5rem;
}

.hero .hero-heading p {
    font-size: 1.4rem;
    text-align: center;
}

.hero .btn {
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    margin: 0 2px;
    font-weight: 500;
    cursor: pointer;
}

.hero .btn:nth-child(1) {
    background: rgb(31, 31, 125);
    color: white;
}

.hero .btn:nth-child(1):hover {
    background: rgb(45, 45, 143);
}

.hero .btn:nth-child(2) {
    background: #FDC93B;
    color: white;
}

.hero .btn:nth-child(2):hover {
    background: #f6cd5b;
}

.feature .feature-card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.feature .features-card {
    min-width: 30rem;
    width: 30rem;
    background-color: #EEE;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    flex: 1 1 30rem;
    transition: all .2s ease;
}

.feature .features-card i {
    font-size: 3rem;
    color: rgb(14, 14, 71);
    margin-block: 1rem;
}

.feature .features-card h3 {
    font-size: 1.4rem;
    color: rgb(31, 31, 125);
    margin-block: 1rem;
}

.feature .features-card p {
    font-size: 1.2rem;
    color: rgb(45, 45, 143);
    margin-block: 1rem;
}

.feature .features-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.course {
    padding-top: 0;
}

.course .course-card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.course .course-card {
    width: 40rem;
    height: 30rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: #EEE;
    margin: 1rem;
    transition: all .2s ease;
    cursor: pointer;
}

.course .course-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.course .course-card .img {
    width: 100%;
    height: 70%;
}

.course .course-card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course .course-card .price {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    background: rgb(31, 31, 125);
    border-radius: 50%;
    position: absolute;
    top: 61%;
    right: 5%;
}

.course .course-card .content {
    padding-inline: 1rem;
    margin-block: 1.5rem;
}

.course .course-card .content span {
    font-size: 1.1rem;
    font-weight: 400;
    color: #3d3b3b;
}

.course .course-card .content h3 {
    font-size: 1.4rem;
    color: rgb(14, 14, 71);
    margin-block: .5rem;
}

.course .course-card .content .rating {
    color: #FDC93B;
}

.register {
    width: 100vw;
    height: 80vh;
    background-image: linear-gradient(rgba(47, 29, 255, 0.3), rgba(5, 4, 46, 0.5)), url(assets/signup.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register .left span {
    font-size: 1.5rem;
    color: white;
}

.register .left h3 {
    font-size: 3.5rem;
    font-weight: 600;
    color: white;
}

.box-container {
    display: flex;
}

.box-container .box {
    width: 10rem;
    height: 10rem;
    background: rgba(130, 123, 123, 0.716);
}

.box-container .count {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    text-align: center;
}

.box-container .count .number {
    font-size: 1.5rem;
}

.box-container .count p {
    width: 8rem;
    height: 8rem;
    padding-top: 1.3rem;
    margin-inline: 1rem;
    background-color: #eeeeee25;
    border-radius: 10px;
}

.right .form {
    width: 30rem;
    height: 35rem;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
}

.right .form h3 {
    font-size: 1.8rem;
    text-align: center;
}

.right .form input {
    width: 90%;
    padding: 1rem .5rem;
    border-radius: 6px;
    background-color: #EEE;
    border: none;
}

.right .form .btn {
    padding: 1rem;
    border: none;
    outline: none;
    background: #FDC93B;
    color: #FFF;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease;
}

.right .form .btn:hover {
    background: #f6cd5b;
}

.community .profile-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.community .profile-container .profile {
    width: 25rem;
    height: min-content;
    background-color: #EEE;
    padding: 1.5rem;
    border-radius: 10px;
    margin-block: 1rem;
}

.community .profile-container .profile-img {
    width: 100%;
    height: 55%;
    text-align: center;
}

.community .profile-container .profile-details h3 {
    font-size: 1.7rem;
    text-align: center;
}

.community .profile-container .profile-details p {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin-block: 1rem;
}

.community .profile-container .social-icon {
    text-align: center;
    margin-bottom: 1.5rem;
}

.community .profile-container .social-icon i {
    font-size: 1.5rem;
    padding: 1.1rem;
    margin: 0 .2rem;
    color: rgb(14, 14, 71);
    border: 1px solid rgb(14, 14, 71);
    border-radius: 2px;
    cursor: pointer;
    transition: .2s ease;
}

.community .profile-container .social-icon i:hover {
    color: white;
    background-color: rgb(14, 14, 71);
}

.footer {
    padding: 4rem 7%;
    background-color: rgb(14, 14, 71);
    color: white;
}

.footer .container {
    display: flex;
    justify-content: space-around;
}

.footer .container .raw h3 {
    font-size: 1.6rem;
    margin-block: 1.5rem;
}

.footer .container .raw a,
.footer .container .raw .news-p {
    font-size: 1.2rem;
    color: #919191d2;
    padding: .3rem 0;
}

.footer .container .raw a p {
    padding: .3rem 0;
}

.footer .container .raw .input {
    background-color: rgba(85, 85, 158, 0.759);
    border: none;
    padding: .64rem 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.footer .container .raw .sub-btn {
    background-color: #f6cd5b;
    border: none;
    padding: .64rem 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer .rights {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 0 5rem;
}

.footer .rights span {
    font-size: 1.3rem;
}

.footer .social-icon {
    text-align: center;
    margin-bottom: 1.5rem;
}

.footer .social-icon i {
    font-size: 1.5rem;
    padding: 1.1rem;
    margin: 0 .2rem;
    color: white;
    background-color: #919191d2;
    border-radius: 2px;
    cursor: pointer;
    transition: .2s ease;
}

/* ABOUT PAGE */

.banner {
    width: 100vw;
    height: 40vh;
    background-position: center;
    background-size: cover;
}

.about {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .images {
    width: 50%;
}

.about .images img {
    width: 100%;
}

.about-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.5)), url(assets/back1.jpg);
}

.about-banner h2 {
    font-size: 4rem;
    color: white;
    font-weight: 600;
}

.about .container {
    padding: 0 0 0 4rem;
    width: 40%;
}

.about .container .info h3 {
    font-size: 3rem;
}

.about .container .info p {
    font-size: 1.4rem;
    color: #3d3b3b;
}

.about .container .course {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-block: 3rem;
}

.about .container .course .img {
    width: 4rem;
    height: 4rem;
}

.about .container .course .img img {
    width: 100%;
}

.about .container .course .text h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.about .container .course .text p {
    font-size: 1.2rem;
    font-weight: 400;
}

.trust .trust-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
}

.trust .trust-container .img {
    width: 10rem;
    margin-block: 2rem;
}

.trust .trust-container .img img {
    width: 100%;
}

.blog {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 1.5rem;
}

.blog .blog-container .blogs {
    margin: 2rem 0;
}

.blog .blog-container .blogs .img {
    width: 90%;
}

.blog .blog-container .blogs .img img {
    width: 100%;
    border-radius: 20px;
}

.blog .blog-container .blogs .content h3 {
    font-size: 2.3rem;
    color: rgb(14, 14, 71);
    padding-block: 1rem;
}

.blog .blog-container .blogs .content p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #6e6e6e;
}

.blog .blog-container .blogs .content .btn {
    padding: 1rem 3rem;
    margin-block: 2rem;
    background-color: rgb(14, 14, 71);
    color: #FFF;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all .2s ease;
}

.blog .blog-container .blogs .content .btn:hover {
    background-color: rgb(31, 31, 125);
}

.blog .category h3 {
    font-size: 3rem;
    padding-block: .5rem;
}

.blog .category p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #6e6e6e;
    padding-block: .7rem;
    transition: all .2s ease;
}

.blog .category p:hover {
    color: rgb(14, 14, 71);
}





@media (max-width: 993px) {
    html {
        font-size: 55%;
    }

    .course .course-card {
        width: 35rem;
        height: 30rem;
    }

    .footer .container {
        flex-wrap: wrap;
        gap: 3rem;
    }

    .about .images {
        width: 60%;
    }

    .about .container .info h3 {
        font-size: 2rem;
    }

    .about .container .info p {
        font-size: 1.2rem;
    }

}

@media (max-width: 768px) {

    html {
        font-size: 50%;
    }

    section,
    .footer {
        padding: 4rem 4%;
    }

    #menuIcon {
        display: block;
    }

    .navbar {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0%;
        background-color: #fff;
        border-top: 1px solid black;
        display: none;
        flex-direction: column;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        display: block;
        text-align: center;
        margin: 1.5rem 0;
    }

    .navbar .btn {
        display: block;
    }


    .hero .hero-heading h2 {
        font-size: 4rem;
    }

    .hero .hero-heading p {
        font-size: 1.3rem;
        text-align: center;
    }

    .hero .btn {
        padding: 8px 22px;
        border-radius: 5px;
        border: none;
        outline: none;
        margin: 0 2px;
        font-weight: 500;
    }

    .course .course-card {
        width: 30rem;
        height: 28rem;
    }

    .course .course-card .img {
        width: 100%;
        height: 65%;
    }

    .course .course-card .price {
        top: 56%;
        right: 5%;
    }

    .register {
        flex-wrap: wrap;
    }

    .about {
        flex-direction: column;
        padding-bottom: 0;
    }

    .about .images {
        width: 80%;
    }

    .about .container {
        width: 80%;
        padding: 0;
    }

    .trust .trust-container {
        flex-wrap: wrap;
    }

    .blog {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .blog .blog-container .blogs .img {
        width: 100%;
    }
}

@media (min-width: 480px) {

    .course .course-card {
        width: 40rem;
        height: 30rem;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        background: #EEE;
        margin: 1rem;
    }

    .course .course-card .img {
        width: 100%;
        height: 70%;
    }

    .course .course-card .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .course .course-card .price {
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        color: white;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        background: rgb(31, 31, 125);
        border-radius: 50%;
        position: absolute;
        top: 61%;
        right: 5%;
    }

}

@media (max-width: 480px) {

    section,
    .footer {
        padding: 4rem 1%;
    }

    header .logo {
        width: 22%;
    }

}